*{
    font-variant-ligatures: none;
}

h1 {
    font-variant-ligatures: none;
}

@font-face {
  font-family: 'NotoSansMono Nerd Font';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/NotoSansMono-Regular-Nerd-Font.ttf");
}

@font-face {
  font-family: 'NotoSansMono Nerd Font';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/NotoSansMono-Bold-Nerd-Font.ttf");
}


body  {
    font-family: 'NotoSansMono Nerd Font', monospace;
    font-feature-settings: "liga" 0;
    font-variant-ligatures: none;
}
